@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;    
}

main {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 2em;
    display: block;
    background-color: #233e8b;
}

.header_brand span {
    font-size: 36px;
    font-weight: 500;    
}

.header_brand a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    padding: 32px;
}

.pokemons_list {
    margin: 32px auto auto;
}

.pokemon_item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: transform .5s ease;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.pokemon_name p {
    padding: 20px;
    background-color: #1eae98;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    font-size: 24px;
}

.pokemon_holder_image {
    width: 100%;
    padding: 20px;
}

.pokemon_image {
    height: 40vh;
    object-fit: contain;
}
